body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: rgb(234, 234, 234);
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 90vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    z-index: 100;
    height: 60px;
    width: 100vw;
    border-radius: 0px 0px 30px 30px;
    align-self: center;
    position: sticky;
    top: 0px;
    /* background-color: rgb(234, 234, 234); */
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.084);
}

.text {
    margin: 2px;
}

.gray-text {
    color: rgb(148, 148, 148);
    font-size: 18px;
}

.qpick-button {
    margin-left: 30px;
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    background-color: rgba(255, 255, 255, 0);
    font-size: 28px;
    font-weight: 800;
    border: 0;
}

.cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-container img {
    width: 20px;
}

.cart-container button {
    position: absolute;
    top: 10px;
    right: 40px;
    border-radius: 50%;
    border: 0px;
    width: 45px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
}

.cart-container button:hover {
    background-color: rgb(237, 237, 237);
}

.cart-container button:active {
    background-color: rgb(218, 218, 218);
}

.cart-container .circle {
    background-color: #ffa542;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 12px;
    color: white;
    position: absolute;
    top: 15px;
    right: 45px;
}

.main {
    width: 85vw;
    margin-top: 20px;
    min-height: 50vh;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.main .item-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.main .item {
    background-color: white;
    margin: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.084);
    border-radius: 30px;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main .item img {
    max-height: 60%;
    margin: 10px;
}

.main .item .info-box {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 10px;
    margin-bottom: 20px;
}

.main .item .info-box .left {
    text-align: left;
    margin: 5px;
    margin-left: 10px;
    padding: 2px;
}

.main .item .info-box .right {
    text-align: right;
    margin: 5px;
    margin-right: 10px;
    padding: 5px;
}

.main .item .info-box .name {
    font-weight: 600;
}

.main .item .info-box .rating {
    color: rgb(148, 148, 148);
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.main .item .info-box .rating img {
    width: 20px;
}

.main .item .info-box .price {
    font-weight: 600;
    color: #ffa542;
}

.buy-button {
    border: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 17px;
    background-color: rgba(255, 255, 255, 0);
    transition: 0.2s;
}

.buy-button:hover {
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.205);
    color: rgb(65, 65, 65);
}

.buy-button:active {
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.205);
    color: rgb(92, 92, 92);
}

.footer {
    height: 100px;
    width: 85vw;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.084);
    border-radius: 30px 30px 0px 0px;
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer .item {
    height: 70px;
    width: 200px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer .item div {
    margin-top: 4px;
    margin-bottom: 4px;
}

.footer #globe {
    width: 15px;
    margin-top: 5px;
}

.footer #social {
    width: 150px;
    margin-left: 20px;
}

.footer .item .row div {
    margin: 5px;
}

.footer #chosen {
    color: #ffa542;
    font-weight: 600;
}

.footer .item .row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.cart-wraper {
    width: 85vw;
    min-height: 50vh;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.cart-menu {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.cart-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 80vh;
}

.cart-item {
    width: 90%;
    background-color: white;
    margin: 20px;
    height: 200px;
    border: 0;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.084);
    display: grid;
    grid-template: 5fr 1fr / 4fr 1fr;
}

.cart-item .display {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.cart-item .display img {
    height: 150px;
    margin: 10px;
}

.cart-item .display .name {
    font-size: 18px;
    margin: 10px;
}

.cart-item .display .price {
    color: rgb(148, 148, 148);
    margin: 10px;
}

.cart-item .amount-button {
    color: white;
    font-size: 16px;
    background-color: #ffa542;
    border-radius: 50%;
    border: 0;
    height: 20px;
    width: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.cart-item .amount-wrapper {
    position: relative;
    top: -10px;
    left: 30px;
    display: flex;
    width: 100px;
    justify-content: space-between;
    align-items: center;
}

.cart-item .delete {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.cart-item .delete img {
    width: 20px;
    margin: 5px;
}

.cart-item .delete .delete-button {
    margin: 10px;
    background-color: transparent;
    border: 0;
    border-radius: 30px;
}

.cart-item .total-wrapper {
    position: relative;
    top: -20px;
}

.cart-item .total {
    font-weight: 600;
    text-align: center;
}

.cart-total {
    width: 90%;
    background-color: white;
    margin: 20px;
    height: 120px;
    border: 0;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.084);
}

.cart-total .total {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.cart-total .total div {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
}

.cart-total .paperwork {
    font-size: 18px;
    height: 60px;
    border-radius: 20px;
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.084);
}

.cart-title {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 30px;
}